<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Change your favorite Queen</h1>
  <form action="/profiles/favorites?_method=PUT" method="POST">
    <label>
      Queen:
      <input 
        type="text" 
        name="queen" 
      >
    </label>
    <label>
      Quote:
      <input 
        type="text" 
        name="quote" 
      >
    </label>
    <br>
    <button type="submit">Update Queen</button>
  </form>  
</section>

<%- include('../partials/footer') %>