.episodes-link {
  display: none;
}

table {
  font-size: 2rem;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

table thead th {
  font-family: 'Racing Sans One', cursive;
  padding: 5px;
  border: 2px solid #EA4C89;
  color: rgb(30, 30, 30);
  color: #EA4C89
}

table td {
  padding: 10px;
  text-align: center;
  border: 2px solid #EA4C89;
  color: rgb(30, 30, 30)
}

label {
  font-family: 'Racing Sans One', cursive;
}

button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
}


button:hover {
  background-color: rgb(156, 42, 156);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
}

button.siwg {
  background-color: rgb(156, 42, 156);
  font-size: 20px;
  color: white;
}

button.siwg:hover {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  align-items: center;
}

.label {
  margin-bottom: 20px;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
}

.update-favs {
  display: inline;
  text-align: center;
}

.current-fav-title {
  font-family: 'Racing Sans One', cursive;
  margin: 0;
  margin-top: 30px;
  color: #EA4C89;
}

.page-title {
  font-family: 'Racing Sans One', cursive;
  font-size: 50px;
  margin: 0;
  color: #EA4C89;
}

.change-guess {
  font-family: 'Racing Sans One', cursive;
  text-align: center;
}

.guess-table {
  display: inline;
  text-align: center;
  margin-top: 20px;
}

label {
  color: #EA4C89;
}







@media only screen and (max-width: 860px) {
  .episodes-link {
    display: none;
  }


}