table {
  font-size: 2rem;
  margin: auto;
  margin-top: 20px;
}

table thead th {
  padding: 5px;
  border: 2px solid black;
  color: rgb(30, 30, 30);
}

table td {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  color: rgb(30, 30, 30)
}

button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
}

button.siwg {
  background-color: rgb(162, 201, 239);
  font-size: 20px;
  color: white;
}

button:hover {
  background-color: rgb(156, 42, 156);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
}

.update-favs {
  display: inline;
  text-align: center;
  /* flex-flow: wrap;
  align-items: center;
  justify-content: center; */
}

.current-fav-title {
  font-family: 'Racing Sans One', cursive;
  margin: 0;
  margin-top: 30px;
}

.page-title {
  font-family: 'Racing Sans One', cursive;
  font-size: 50px;
  margin: 0;
}