a {
  color: var(--text-color);
}

.episodes-link {
  display: none;
}

img {
  margin: auto;
  position: relative;
  border: 2px solid white;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  height: 150px;
  width: 150px;
}

nav {
  background-color: #DF2C7B;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 9% 8% 7% 60% 8% 8%;
  grid-template-rows: 50px;
  border-bottom: 3px solid #e73f88;
  height: 70px;
  padding-top: 20px;
}

.title {
  padding-top: 20px;
}

.logout {
  padding-bottom:40px;
  margin-bottom: 20px;
  display: flex;
}

button.siwg {
  background-color: rgb(156, 42, 156);
  font-size: 12px;
  color: white;
  padding: 5px;
}

button:hover {
  background-color: rgb(156, 42, 156);
  font-size: 20px;
}

table {
  font-size: 2rem;
  margin: auto;
}

main {
  background-color: var(--body-bg);
  height: 100vh;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  width: 100%;
}

.guess {
  font-size: 14px;
}

.card-body {
  padding: 0;
}

.profile-card {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: var(--body-bg);
}

.card {
  display: grid;
  grid-template-rows: 140px;
  grid-template-columns: 45% 55%;
  padding: 10px;
  margin: 10px;
  height: 180px;
  width: 400px;
  margin-right: 10px;
  background-color: var(--card-color);
}

.container {
  display: flex;
  flex-flow: wrap;
  padding: 0;
  margin: 0;
  width: 420px;
}

.py-5 {
  padding: 0;
}

.px-3 {
  padding: 0;
}

table thead th {
  padding: 5px;
  border: 2px solid black;
  font-family: 'Racing Sans One', cursive;
  color: rgb(30, 30, 30);
}

table td {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  color: rgb(30, 30, 30)
}

.col {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0;
  padding: 0;
}

.week-guess {
  font-family: 'Racing Sans One', cursive;
  font-size: 16px;
  color: #DF2C7B
}

nav {
  padding-top: 0;
}

.nav-link {
  padding-top: 20px;
}

.logout {
  margin-top: 15px;
}

#light-dark-button {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  background-color: rgb(156, 42, 156);
  font-size: 12px;
  color: white;
  padding: 5px
}

#light-dark-button::after {
  content: var(--light-dark-btn-content);
}

body {
  --body-bg: rgb(253,255,245);
  --header-txt-color: rgb(253,255,245);
  --text-color: black;
  --btn-txt-color: rgb(253,255,245);
  --a-color: white;
  --card-color: white;
  --profile-bg: #fbdeeb;
  --light-dark-btn-content: "Dark";
  align-items: center;
  background-color: var(--bo dy-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

body.dark {
  --body-bg: #5E1334;
  --header-txt-color: rgb(252, 230, 187);
  --text-color: rgb(252, 230, 187);
  --btn-txt-color: rgb(253,255,245);
  --a-color: purple;
  --card-color: #fbdeeb;
  --profile-bg: #E372A3;
  --light-dark-btn-content: "Light";
  background-color: var(--body-bg);
}

@media only screen and (max-width: 860px) {
  body {
    --body-bg: rgb(253,255,245);
    --header-txt-color: rgb(253,255,245);
    --text-color: black;
    --btn-txt-color: rgb(253,255,245);
    --a-color: white;
    --profile-bg: #fbdeeb;
    --light-dark-btn-content: "Dark";
    align-items: center;
    background-color: var(--bo dy-bg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
  }
  
  body.dark {
    --body-bg: #5E1334;
    --header-txt-color: rgb(252, 230, 187);
    --text-color: rgb(252, 230, 187);
    --btn-txt-color: rgb(253,255,245);
    --a-color: purple;
    --profile-bg: #E372A3;
    background-color: var(--body-bg);
  }

  #light-dark-button {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: rgb(156, 42, 156);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    line-height: 20px;
    list-style: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  #light-dark-button::after {
    content: var(--light-dark-btn-content);
  }
  
  a {
    color: var(--text-color);
  }

  .episodes-link {
    display: none;
  }
  
  img {
    margin: auto;
    position: relative;
    border: 2px solid white;
    /* padding-left: 60px; */
    display: flex;
    align-items: flex-start;
    justify-content: left;
    height: 150px;
    width: 150px;
  }
  
  nav {
    background-color: #DF2C7B;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 8% 8% 8% 51% 15% 10%;
    grid-template-rows: 100px;
    border-bottom: 3px solid #e73f88;
    height: 70px;
  }
  
  .title {
    margin-bottom: 90px;
  }
  
  .logout {
    padding-bottom:30px;
    margin-bottom: 20px;
  }

  .card-body {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
  }
  
  button:hover {
    background-color: rgb(156, 42, 156);
    font-size: 20px;
  }
  
  table {
    font-size: 2rem;
    margin: auto;
  }
  
  main {
    background-color: var(--body-bg);
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    width: 100%;
  }
  
  .guess {
    font-size: 14px;
  }
  
  .profile-card {
    display: flex;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
    background-color: var(--body-bg);
  }

  .card {
    display: grid;
    grid-template-rows: 140px;
    grid-template-columns: 45% 55%;
    padding: 10px;
    margin: 10px;
    height: 180px;
    width: 400px;
    margin-right: 10px;
  }

  .card-title {
    width: 200px;
  }
  
  .container {
    display: flex;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
  }
  
  table thead th {
    padding: 5px;
    border: 2px solid black;
    font-family: 'Racing Sans One', cursive;
    color: rgb(30, 30, 30);
  }
  
  table td {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    color: rgb(30, 30, 30)
  }
  
  .col {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }
  
  .week-guess {
    font-family: 'Racing Sans One', cursive;
    font-size: 16px;
    color: #DF2C7B
  }
}