a {
  color: white;
}

.episodes-link {
  display: none;
}

img {
  margin: auto;
  position: relative;
  border: 2px solid white;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  height: 150px;
  width: 150px;
}

nav {
  background-color: #DF2C7B;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 9% 8% 7% 60% 8% 8%;
  grid-template-rows: 50px;
  border-bottom: 3px solid #e73f88;
  height: 70px;
  padding-top: 20px;
}

.title {
  padding-top: 20px;
}

.logout {
  padding-bottom:30px;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgb(156, 42, 156);
  font-size: 20px;
}

table {
  font-size: 2rem;
  margin: auto;
}

main {
  background-color: rgb(253,255,245);
  height: 100vh;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  width: 100%;
}

.guess {
  font-size: 14px;
}

.profile-card {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  margin: 10px;
  height: 180px;
  width: 400px;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-flow: wrap;
  padding: 0;
  margin: 0;
  width: 420px;
}

table thead th {
  padding: 5px;
  border: 2px solid black;
  font-family: 'Racing Sans One', cursive;
  color: rgb(30, 30, 30);
}

table td {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  color: rgb(30, 30, 30)
}

.col {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0;
  padding: 0;
}

.week-guess {
  font-family: 'Racing Sans One', cursive;
  font-size: 16px;
  color: #DF2C7B
}






@media only screen and (max-width: 860px) {
  a {
    color: white;
  }

  .episodes-link {
    display: none;
  }
  
  img {
    margin: auto;
    position: relative;
    border: 2px solid white;
    /* padding-left: 60px; */
    display: flex;
    align-items: flex-start;
    justify-content: left;
    height: 150px;
    width: 150px;
  }
  
  nav {
    background-color: #DF2C7B;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 9% 8% 7% 60% 16%;
    grid-template-rows: 50px;
    border-bottom: 3px solid #e73f88;
    height: 70px;
    padding-top: 20px;
  }
  
  .title {
    padding-top: 20px;
  }
  
  .logout {
    padding-bottom:30px;
    margin-bottom: 20px;
  }

  .card-body {
    margin-left: 60px;
    padding-top: 0;
  }
  
  button:hover {
    background-color: rgb(156, 42, 156);
    font-size: 20px;
  }
  
  table {
    font-size: 2rem;
    margin: auto;
  }
  
  main {
    background-color: rgb(253,255,245);
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    width: 100%;
  }
  
  .guess {
    font-size: 14px;
  }
  
  .profile-card {
    display: flex;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
  }
  
  .card {
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    margin: 10px;
    height: 180px;
    width: 400px;
  }
  
  .container {
    display: flex;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
  }
  
  table thead th {
    padding: 5px;
    border: 2px solid black;
    font-family: 'Racing Sans One', cursive;
    color: rgb(30, 30, 30);
  }
  
  table td {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    color: rgb(30, 30, 30)
  }
  
  .col {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }
  
  .week-guess {
    font-family: 'Racing Sans One', cursive;
    font-size: 16px;
    color: #DF2C7B
  }
}