<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1 class="welcome">Start Your Engines!</h1>
  <img class="ruFace animate__wobble" src="./images/rpdr-fantasy/RuPaul.png" alt="RuPaul">
  <h1 class="welcome">And may the Best Guesser, Win!</h1>
</main>

<%- include('./partials/footer') %>
