<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to RPDR Fantasy!</h1>
  <img src="/img/RuPaul.jpeg" alt="RuPaul">
</main>

<%- include('./partials/footer') %>
