<%- include('./partials/html-head') %>
<link rel="shortcut icon" href="./images/rpdr-fantasy/RuPaul.png">
<%- include('./partials/nav') %>

<main>
  <h1 class="welcome">Start Your Engines,</h1>
  <img class="ruFace animate__wobble" src="./images/rpdr-fantasy/RuPaul.png" alt="RuPaul">
  <h1 class="welcome">and may the Best Guesser, Win!</h1>
</main>

<%- include('./partials/footer') %>
