html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: var(--body-bg);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background-color: #DF2C7B;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 8% 8% 8% 60% 8% 8%;
  grid-template-rows: 50px;
  border-bottom: 3px solid #e73f88;
  height: 70px;
}

h1.title {
  color: var(--header-txt-color);
  text-align: center;
  font-family: 'Racing Sans One', cursive;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 50px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.episodes-link {
  display: none;
}

a.episodes-link{
  display: none;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.profile-card {
  display: flex;
  flex-flow: wrap;
}

.nav-link {
  display: flex;
  align-items: baseline;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 30px;
  font-size: 14px;
  padding-left: 4px;
}

.players-link {
  display: none;
}

.welcome {
  font-family: 'Racing Sans One', cursive;
  font-size: 50px;
  margin: 0;
  margin-top: 15px;
  color: #DF2C7B;
}

.ruFace {
  max-width:350px;
  height:auto;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: var(--a-color);
}

pre {
  font-size: 1.4rem;
}

nav > a {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.siwg {
  background-color: rgb(156, 42, 156);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #DF2C7B;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

#light-dark-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  margin-right: 36px;
  background-color: rgb(156, 42, 156);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  height: 30px;
  line-height: 20px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  content: var(--light-dark-btn-content);
}


body {
  --body-bg: rgb(253,255,245);
  --header-txt-color: rgb(253,255,245);
  --text-color: black;
  --btn-txt-color: rgb(253,255,245);
  --a-color: white;
  --profile-bg: #fbdeeb;
  --light-dark-btn-content: "Dark Mode";
  align-items: center;
  background-color: var(--bo dy-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

body.dark {
  --body-bg: #5E1334;
  --header-txt-color: rgb(252, 230, 187);
  --text-color: rgb(252, 230, 187);
  --btn-txt-color: rgb(253,255,245);
  --a-color: purple;
  --profile-bg: #E372A3;
  --light-dark-btn-content: "Light";
  background-color: var(--body-bg);
}



@media only screen and (max-width: 860px) {

  html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
  :root {
      font-size: 62.5%
  }
  
 body {
  --body-bg: rgb(253,255,245);
  --header-txt-color: rgb(253,255,245);
  --text-color: black;
  --btn-txt-color: rgb(253,255,245);
  --a-color: white;
  --profile-bg: #fbdeeb;
  --light-dark-btn-content: "Dark";
  align-items: center;
  background-color: var(--bo dy-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

body.dark {
  --body-bg: #5E1334;
  --header-txt-color: rgb(252, 230, 187);
  --text-color: rgb(252, 230, 187);
  --btn-txt-color: rgb(253,255,245);
  --a-color: purple;
  --profile-bg: #E372A3;
  --light-dark-btn-content: "Light";
  background-color: var(--body-bg);
}
  
  nav {
    background-color: #DF2C7B;
    font-size: 1.6rem;#DF2C7
    display: grid;
    grid-template-columns: 8% 8% 8% 51% 15% 10%;
    grid-template-rows: 100px;
    border-bottom: 3px solid #e73f88;
    height: 70px;
  }
  
  h1.title {
    color: var(--header-txt-color);
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .players-link {
    display: none;
  }

  .episodes-link {
    display: none;
  }
  
  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-right: 20px;
    grid-column: 6 / 7;
    grid-row: 1 / 2;
  }
  
  #light-dark-button {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 22px;
    margin-right: 100px;
    padding-right: 30px;
    background-color: rgb(156, 42, 156);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: var(--btn-text-color);
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    line-height: 20px;
    list-style: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    content: var(--light-dark-btn-content);
  }
  
  .profile-card {
    display: flex;
    flex-flow: wrap;
  }
  
  .nav-link {
    margin: 0;
    display: inline;
    align-items: baseline;
    flex-flow: wrap;
    justify-content: center;
    font-size: 10px;
    margin-left: 4px;
  }

  a {
    margin-left: 5px;
    width: 100px;
    font-size: 12px;
  }
  
  .welcome {
    font-family: 'Racing Sans One', cursive;
    font-size: 50px;
    margin: 0;
    margin-top: 15px;
    color: #DF2C7B;
    text-align: center;
  }
  
  .ruFace {
    max-width:350px;
    height:auto;
  }
  
  h1 {
    font-size: 3.6rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2.4rem;
  }
  
  ul {
    list-style-type: none;
  }
  
  p, label, li, button, input {
    font-size: 1.8rem;
  }
  
  label {
    font-weight: bold;
  }
  
  section {
    padding: 50px;
  }
  
  a {
    color: --a-color;
  }
  
  pre {
    font-size: 1.4rem;
  }
  
  nav > a {
    margin: 1rem 3rem;
    text-decoration: none;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button.siwg {
    background-color: rgb(156, 42, 156);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: auto;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .link {
    padding: 1rem 0;
    font-size: 1.8rem;
    display: inline-block;
  }
  
  .profile-avatar {
    margin-top: 50px;
  }


}